/*********************************
 *
 * Publicly-usable classes
 *
 *********************************/

$navbar-landing-page-lg-margin-top: 2rem;

// Landing page navbar.
// Has a transparent background and bright white colored items.
.navbar-landing-page {
  $color-normal: $primary;
  $color-hover: darken($primary, 15%);

  $toggler-icon-bg-normal: str-replace(url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='#{$color-normal}' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e"), "#", "%23");
  $toggler-icon-bg-hover: str-replace(url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='#{$color-hover}' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e"), "#", "%23");

  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99;
  background: white;

  .navbar-brand {
    color: $primary;
  }

  .navbar-nav {
    .nav-link {
      color: $body-color;

      &:hover,
      &:focus {
        color: $color-hover;
      }

      &.disabled {
        color: $nav-link-disabled-color;
      }
    }

    .show > .nav-link,
    .active > .nav-link,
    .nav-link.show,
    .nav-link.active {
      color: $color-hover;
    }
  }

  .navbar-toggler {
    border-color: $color-normal;
    color: $color-normal;

    &:hover,
    &:focus {
      border-color: $color-hover;
      color: $color-hover;
    }
  }

  .navbar-toggler-icon {
    color: $color-normal;
    background-image: $toggler-icon-bg-normal;

    &:hover,
    &:focus {
      color: $color-hover;
      background-image: $toggler-icon-bg-hover;
    }
  }

  .navbar-collapse {
    border-top: solid 1px $lightdark;
    margin-top: 0.5rem;
  }

  @include media-breakpoint-up(lg) {
    $color-normal: rgba(255, 255, 255, 0.9);
    $color-hover: white;

    $toggler-icon-bg-normal: str-replace(url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='#{$color-normal}' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e"), "#", "%23");
    $toggler-icon-bg-hover: str-replace(url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='#{$color-hover}' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e"), "#", "%23");

    margin-top: $navbar-landing-page-lg-margin-top;
    background: transparent;

    .navbar-brand {
      color: white;
    }

    .navbar-nav {
      .nav-link {
        color: $color-normal;

        &:hover,
        &:focus {
          color: $color-hover;
        }
      }

      .show > .nav-link,
      .active > .nav-link,
      .nav-link.show,
      .nav-link.active {
        color: $color-hover;
      }
    }

    .navbar-toggler {
      border-color: $color-normal;
      color: $color-normal;

      &:hover,
      &:focus {
        border-color: $color-hover;
        color: $color-hover;
      }
    }

    .navbar-toggler-icon {
      color: $color-normal;
      background-image: $toggler-icon-bg-normal;

      &:hover,
      &:focus {
        color: $color-hover;
        background-image: $toggler-icon-bg-hover;
      }
    }

    .navbar-collapse {
      border-top: 0;
      margin-top: 0;
    }

    .dropdown-menu {
      box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.175);
    }
  }
}


.navbar-small-items {
  .navbar-nav .nav-link,
  .navbar-text,
  .navbar-nav .dropdown-menu {
    font-size: $font-size-md-sm;
  }

  .navbar-nav .dropdown-menu {
    font-size: $font-size-sm;
  }

  .navbar-toggler {
    padding: 0.25rem 0.6rem;
  }

  .navbar-toggler-icon {
    width: 1.1em;
    height: 1.1em;
  }
}


/*********************************
 *
 * Bootstrap styling overrides
 *
 *********************************/


// Give the navbar links an underline-on-hover effect.
.navbar-nav {
  .nav-link > span {
    position: relative;
    display: inline-block;
    padding-top: 0.11em;
    padding-bottom: 0.11em;
  }

  .nav-link > span:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: $primary;
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.3s ease-in-out 0s;
  }

  .nav-link:hover > span:before,
  .nav-link:focus > span:before {
    visibility: visible;
    transform: scaleX(1);
  }
}

.navbar-landing-page .navbar-nav .nav-link > span:before {
  background-color: rgba(255, 255, 255, 0.5);
}
