.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  background: transparent;
}

.navbar-brand {
  // Fix vertical alignment on mobile.
  padding-top: 1rem;

  > .logo {
    display: inline-block;
    margin-right: 1rem;
    vertical-align: middle;
  }

  > .vendor {
    font-weight: normal;
  }

  > .product {
    font-weight: bold;
  }

  > .beta-disclaimer {
    font-weight: 300;
    font-size: 60%;
  }
}

#fh5co-home {
  .highlights-container {
    display: flex;
    justify-content: center;
    text-align: left;
    font-size: 25px;

    .highlights {
      list-style: none;
      padding: 0;

      li:before {
        content: '✓';
        padding-right: 2rem;
      }
    }
  }
}

.coming-soon {
  font-style: italic;
  font-size: 150%;
}