.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  background: transparent;
}

.navbar-brand {
  // Fix vertical alignment on mobile.
  padding-top: 1rem;

  > .logo {
    display: inline-block;
    margin-right: 1rem;
    vertical-align: middle;
  }

  > .vendor {
    font-weight: normal;
  }

  > .product {
    font-weight: bold;
  }

  > .beta-disclaimer {
    font-weight: 300;
    font-size: 60%;
  }
}

#fh5co-home {
  .hero-splash {
    margin-bottom: 2rem;
  }

  @media screen and (min-width: 1200px) {
    .mid-sentence-break {
      display: none;
    }
  }

  @media screen and (max-width: 500px) {
    .mid-sentence-break {
      display: none;
    }
  }

  .highlights-container {
    display: flex;
    justify-content: center;
    text-align: left;
    font-size: 25px;

    @media screen and (max-width: 400px) {
      font-size: 20px;
    }

    .highlights {
      list-style: none;
      padding: 0;
      margin: 3rem 0;

      li:before {
        content: '✓';
        padding-right: 2rem;
      }
    }
  }
}

.fh5co-text h2 {
  a {
    color: inherit;
  }

  a:hover {
    text-decoration: none;
  }
}

.fh5co-person {
  figure img {
    filter: drop-shadow(0 0 0.75rem #aaa);
  }

  @media (max-width: 991px) {
    &:not(.last) {
      margin-bottom: 160px;
    }
  }
}

.longtext {
  font-size: 18px;
}

.edition-label {
  margin-top: -3rem;
}

.intro-text-after-call-to-action {
  display: block;
  margin-top: 1rem;
}

footer {
  margin-top: 6rem;
  margin-bottom: 3rem;
  text-align: center;

  .brand {
    font-size: 110%;
    margin-bottom: 2rem;

    a {
      color: black;
    }

    a:hover {
      text-decoration: none;
    }

    .logo {
      margin-right: 1rem;
    }

    .product {
      font-weight: bold;
    }
  }

  nav {
    font-size: 90%;
    margin-bottom: 2rem;

    ul {
      list-style: none;
      margin: 0;
      padding: 0
    }

    li {
      margin: 0;
      padding: 0;
      display: inline;
    }

    li + li {
      margin-left: 1.5rem;
    }
  }

  .acknowledgements {
    font-size: 80%;
  }
}
