<section id="fh5co-home" data-section="home">
  <div class="gradient"></div>
  <div class="container">
    <div class="text-wrap">
      <div class="text-inner">
        <div class="row">
          <div class="col-md-8 col-md-offset-2">
            <h1 class="to-animate fadeInUp animated">Do something you love.</h1>
            <h2 class="to-animate fadeInUp animated">Another free HTML5 bootstrap template by <a href="http://freehtml5.co/" target="_blank" title="Free HTML5 Bootstrap Templates">FREEHTML5.co</a> released under <a href="http://creativecommons.org/licenses/by/3.0/" target="_blank">Creative Commons 3.0</a><br> ported for Hugo by <a href="http://saey55.gitlab.io/pietercv" target="_blank">Pieter Saey</a></h2>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="slant"></div>
</section>

<section id="fh5co-intro" class="animated">
  <div class="container">
    <div class="row row-bottom-padded-lg">
      
      <div class="fh5co-block to-animate fadeInRight animated" style="background-image: url(images/img_7.jpg);">
        <div class="overlay-darker"></div>
        <div class="overlay"></div>
        <div class="fh5co-text">
          <i class="fh5co-intro-icon icon-bulb"></i>
          <h2>Plan</h2>
          <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
          
          <p><a href="#" class="btn btn-primary">Get In Touch</a></p>
          
        </div>
      </div>
      
      <div class="fh5co-block to-animate fadeInRight animated" style="background-image: url(images/img_8.jpg);">
        <div class="overlay-darker"></div>
        <div class="overlay"></div>
        <div class="fh5co-text">
          <i class="fh5co-intro-icon icon-wrench"></i>
          <h2>Develop</h2>
          <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
          
          <p><a href="#" class="btn btn-primary">Click Me</a></p>
          
        </div>
      </div>
      
      <div class="fh5co-block to-animate fadeInRight animated" style="background-image: url(images/img_10.jpg);">
        <div class="overlay-darker"></div>
        <div class="overlay"></div>
        <div class="fh5co-text">
          <i class="fh5co-intro-icon icon-rocket"></i>
          <h2>Launch</h2>
          <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
          
          <p><a href="#" class="btn btn-primary">Why us?</a></p>
          
        </div>
      </div>
    </div>    
  </div>
</section>
